<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<title>Olskers Cupcakes</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="../public/css/styles.css" th:href="@{/public/css/styles.css}" rel="stylesheet"/>
<script src="../public/js/scripts.js" th:href="@{/public/js/scripts.js}" rel="stylesheet"></script>
</head>
<body>
<div class="wrapper">
    <a th:href="@{/}" id="header-banner" class="desktop">
        <div></div>
    </a>

    <div class="mobile" id="header-banner-mobile">
        <img src="../public/images/logo.png" alt="Cupcake logo">
        <div>
            <h1 class="banner">Olskers cupcakes</h1>
            <h2 class="banner">Mums filibaba</h2>
        </div>
    </div>

    <nav>
        <ul>
            <li class="mobile topnav" id="burger-menu">
                <button class="burger-menu-button" onclick="expandMenu()">
                    <img id="menu-button" src="../public/images/burger_menu.svg" alt="Menu button">
                    <img id="dropdown-button" class="show" src="../public/images/dropdown_button.svg" alt="Menu button">
                </button>
            </li>

            <div id="myLinks">
                <a href="#orders" th:if="${role == null}">Ordrer</a>
                <a th:href="@{/admin/orders}" th:if="${role == 'admin'}">Ordrer</a>
                <a th:href="@{/admin/customers}" th:if="${role == 'admin'}">Kunder</a>
            </div>
            <li class="menu-item desktop" th:if="${role == null}"><a href="#orders">Ordrer</a></li>
            <li class="menu-item desktop" th:if="${role == 'admin'}"><a th:href="@{/admin/orders}">Ordrer</a></li>
            <li class="menu-item desktop" th:if="${role == 'admin'}"><a th:href="@{/admin/customers}">Kunder</a></li>
            <li class="right-align-nav" th:if="${email == null}">
                <a th:href="@{/login}" id="log-in-button">Log ind</a>
            </li>
            <li class="right-align-nav" th:if="${email != null}">
                <span th:text="${email}"></span>
                <a th:href="@{/logout}">Log ud</a>
            </li>
            <li><a href=""><img id="basket" src="../public/images/basket.png"></a></li>
        </ul>
    </nav>

    <div id="main-content">
        <h1>Alle kunder</h1>
        <table>
            <thead>
            <tr>
                <th>Bruger ID</th>
                <th>Email</th>
                <th>Konto</th>
                <th>Ordre ID</th>
                <th>Topping</th>
                <th>Bund</th>
                <th>Antal</th>
                <th>Betalt</th>
            </tr>
            </thead>
            <tbody>
            <span th:each="user : ${users}">
                <tr th:each="order : ${user.getOrders()}">
                    <td th:text="${user.id}">Bruger ID</td>
                    <td th:text="${user.email}">Email</td>
                    <td th:text="${user.credit}">Konto</td>
                    <td th:text="${order.id}">Ordre ID</td>
                    <td th:text="${order.topping}">Topping</td>
                    <td th:text="${order.bottom}">Bund</td>
                    <td th:text="${order.amount}">Antal</td>
                    <td th:if="${order.isProcessed}">
                        <label for="checked"></label>
                        <input type="checkbox" id="checked" checked disabled>
                    </td>
                    <td th:if="not ${order.isProcessed}">
                        <label for="unchecked"></label>
                        <input type="checkbox" id="unchecked" disabled>
                    </td>
                </tr>
            </span>
            </tbody>
        </table>
    </div>
</div>
<footer></footer>
</body>
</html>
